<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lettre de mise en demeure</title>
</head>

<body bgcolor="#F4F4F4"
    style="margin:0;padding:0;background-color:#f4f4f4;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:300;font-size:16px;line-height:24px;width:100%">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
        style="width:100%;border-collapse:collapse">
        <tbody>
            <tr>
                <td align="top">
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
                        style="border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td valign="top" style="background-color: #fff;"
                                    class="m_-5909769013679654532gray-border">
                                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
                                        style="background-color:#ffffff;border-collapse:collapse;border-radius:4px">
                                        <tbody>
                                            <tr>
                                                <td style="padding:60px 60px 0; height:93vh;"
                                                    class="m_-5909769013679654532inside-pad">
                                                    <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                        border="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="padding:0 0 42px 0;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;line-height:24px;font-weight:400;display:flex;justify-content: flex-end;">
                                                                    <a href="" target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mandrillapp.com/track/click/30191028/ui8.net?p%3DeyJzIjoiQ2lPYVNhLTJsQWhZSVlBZ2o4b2ZtN0p6VURVIiwidiI6MSwicCI6IntcInVcIjozMDE5MTAyOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3VpOC5uZXRcIixcImlkXCI6XCJkNmZhZTI5Y2FiZTE0MzY0OGQwOTlkYmM1NTNkOGY5ZVwiLFwidXJsX2lkc1wiOltcImQ2YWRjMzEwYTQ0NGIyM2ZmYzlkNTFiYTc4YzM5MWUwMjc5YzVlYzdcIl19In0&amp;source=gmail&amp;ust=1586697714629000&amp;usg=AFQjCNGzvPYuzJ4UGfmp6-93rUg8tJtJPg">


                                                                        <img src="https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/logo-bicec-small.png?alt=media&token=ef0bd699-f1c2-4b12-bddf-939e0a9b78d9"
                                                                            width="100px" height="40px"
                                                                            class="CToWUd"></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color:#4a4a4a;padding:0 0 6px 0;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:1.2;font-weight:700">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" align="left" cellpadding="0" cellspacing="0"
                                                        border="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="padding:0;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:12px;font-weight:100;color:#333;">

                                                                    <div class="sender-infos-container">
                                                                        <div class="sender-info-elmt bold">BICEC</div>
                                                                        <div class="sender-info-elmt">(+237) 233 43 60
                                                                            00</div>
                                                                        <div class="sender-info-elmt">bicec.com</div>
                                                                    </div>

                                                                    <div class="receiver-infos-container">
                                                                        <div class="receiver-info-elmt bold">
                                                                            {{client_name}}
                                                                        </div>
                                                                        <div class="receiver-info-elmt">{{client_phone}}
                                                                        </div>
                                                                        <div class="receiver-info-elmt">{{client_email}}
                                                                        </div>
                                                                    </div>

                                                                    <div class="object">
                                                                        <span class="object bold">Objet :
                                                                            {{objet}}</span>
                                                                    </div>

                                                                    <p class="mail-content">{{{message}}}</p>

                                                                    <div class="signature-container">
                                                                        <div>La Direction</div>
                                                                        <img src="https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/signature.png?alt=media&token=9b30c396-18c4-43ab-850c-4424432fb85d"
                                                                            class="CToWUd" width="200px" height="100px">
                                                                    </div>

                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="preview-footer"
                                                                        style="padding-bottom: 42px;">
                                                                        <p>Pièce jointe mail de relance crédit n°
                                                                            {{num_dossier}} du {{letter_date}}</p>
                                                                        <p>BANQUE INTERNATIONALE DU CAMEROUN POUR
                                                                            L’EPARGNE ET LE CREDIT bicec.com</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <style type="text/css">
        p {
            line-height: 20px !important;
        }

        .bold {
            font-weight: 600;
        }

        .sender-infos-container .sender-info-elmt {
            margin: 5px 0;
            font-size: 16px;
            line-height: 22px;
        }

        .receiver-infos-container {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin-right: 20px;
        }

        .receiver-infos-container .receiver-info-elmt {
            margin: 5px 0;
            font-size: 16px;
            line-height: 22px;
        }

        .object {
            font-size: 19px;
            margin: 30px 0;
        }

        .mail-content {
            margin: 45px 0;
        }

        .preview-footer {
            padding: 5px 0;
            font-size: .9rem;
            /* position: absolute; */
            margin-top: 100px;
            width: 100%;
            color: rgba(128, 128, 128, 0.97);
            border-top: 1px solid rgba(151, 151, 151, 0.69);
        }

        .icon {
            cursor: pointer;
        }

        .social-media {
            display: flex;
            align-items: center;
            width: 15%;
            margin-left: 0px;
            justify-content: space-between;
        }

        .social-media a {
            height: 100%;
            text-decoration: none;
        }

        .signature-container {
            float: right;
        }

        .footer-title {
            width: 50%;
            font-size: 1rem;
        }
    </style>
</body>

</html>